body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	font-weight:400;
	line-height:20px;
	vertical-align:baseline;
	color:#555;
	position:relative;
	
}

div[class*='item'] {
	border-color: white;
	border-style: solid;
	padding: 4px;
	background-color: rgb(226,225,225);
	width: 350px;
	height: 65px;
}

.box {
	float: left;
	margin: 8px 15px 5px 5px;
	padding: 5px 12px 15px 8px;
	width: 10px;
	height: 10px;
	border: 2px;
	border-style: solid;
	border-color: white;
	background-color: rgb(230,230,235);

}
.advice {
	border-color: blue;
}
.watchandact {
	border-color: yellow;	
}
.emergencywarning {
	border-color: red;
}
.title {
	font-size: 13pt;
	padding-top: 5px;
	margin-left: 31px;
    width: 300px;
}
.status {
	font-family: sans-serif;
	font-size: small;
}
